.container1 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;

}

.container2 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;

}

.flex-item {
    display:flex;
    flex-direction: column;
    background-color: white;
    border: black  solid 1px;
    padding: 20px;
    justify-content: space-around;
    align-items: center;
    margin: 15px;
}

.flex-item a {
    font-size: 18px;
    color: black;
    padding: 40px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
    width: 100%;
    align-items: stretch;
    justify-content: space-evenly;
  }
  
  .text-box {
    background-color: white;
    margin: 20px;
    width: 700px;
    padding: 50px;
    flex: 2 1 1;
    margin-right: 1%;
  
  }